<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="sony" class="spring.impl.audio.AudioSony"/>
    <bean id="alpine" class="spring.impl.audio.AudioAlpine"/>

    <bean id="navitel" class="spring.impl.navigation.NavigationNavitel"/>
    <bean id="pioner" class="spring.impl.navigation.NavigationPioneer"/>

    <bean id="audi1" class="spring.impl.car.CarAudi"/>
    <bean id="audi2" class="spring.impl.car.CarAudi">
        <property name="audioSystem" ref="alpine"/>
    </bean>
    <bean id="bmw1" class="spring.impl.car.CarBMW" scope="singleton">
        <constructor-arg ref="alpine"/>
        <constructor-arg ref="pioner"/>
    </bean>

</beans>